<a href="{{Href}}"
   class="cdx-button cdx-button--icon-only cdx-button--fake-button cdx-button--fake-button--enabled cdx-button--weight-quiet {{Classes}}"
   title="{{Title}}"
   aria-label="{{Label}}">
    <span class="cdx-button__icon"></span>
</a>
