<button
	id="form-tabs-{{id}}-label"
	class="cdx-tabs__list__item"
	role="tab"
	aria-selected="{{active}}"
	aria-controls="form-tabs-{{id}}"
	value="form-tabs-{{id}}"
	name="tab"
>
	{{label}}
</button>
